<svg viewBox="0 0 432 396" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <image width="432" height="396" preserveAspectRatio="none" xlink:href="{{ site.baseurl }}{{ page.plan_image }}"/>

    {% for property in site.properties %}
    {% if property.investment_number == page.number %}
    {% if property.availability == false %}
    {% assign propertyClass = "sold" %}
    {% assign propertyStatus = "Sprzedane" %}
    {% elsif property.reservation == true %}
    {% assign propertyClass = "reserved" %}
    {% assign propertyStatus = "Zarezerwowane" %}
    {% else %}
    {% assign propertyClass = "" %}
    {% assign propertyStatus = property.title %}
    {% endif %}

    {% if property.number == 1 %}
    <a xlink:title="{{ propertyStatus }}" xlink:href="{{ site.baseurl }}{{ property.url }}">
        <path class="{{ propertyClass }}" d="m64.403 38.642 134.11 0.75769 0.75768 113.65-134.11 0.75769z" />
    </a>
    {% elsif property.number == 2 %}
    <a xlink:title="{{ propertyStatus }}" xlink:href="{{ site.baseurl }}{{ property.url }}">
        <path class="{{ propertyClass }}" d="m266.71 37.127 0.75768 114.41 131.84 0.75768 0.75769-114.41z"/>
    </a>
    {% elsif property.number == 3 %}
    <a xlink:title="{{ propertyStatus }}" xlink:href="{{ site.baseurl }}{{ property.url }}">
        <path class="{{ propertyClass }}" d="m76.526 254.58-0.75769 124.26h125.02l1.5154-124.26z"/>
    </a>
    {% endif %}
    {% endif %}
    {% endfor %}
</svg>
