
<svg viewBox="0 0 1920 593" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <image width="1920" height="593" preserveAspectRatio="none" xlink:href="{{ page.plan_image }}"/>

{% for property in site.properties %}
{% if property.investment_number == page.investment_number %}
    {% if property.availability == false %}
        {% assign propertyClass = "sold" %}
        {% assign propertyStatus = "Sprzedane" %}
    {% elsif property.reservation == true %}
        {% assign propertyClass = "reserved" %}
        {% assign propertyStatus = "Zarezerwowane" %}
    {% else %}
        {% assign propertyClass = "" %}
        {% assign propertyStatus = property.title %}
    {% endif %}

    {% if property.property_number == 1 %}
    <a xlink:title="{{ propertyStatus }}" xlink:href="{{ site.baseurl }}{{ property.url }}">
        <path class="{{ propertyClass }}" d="m49.84 151.9-0.9677 283 115.2 0.4838 1.935-118.1 79.83-1.935v-164z" />
    </a>
    {% elsif property.property_number == 2 %}
    <a xlink:title="{{ propertyStatus }}" xlink:href="{{ site.baseurl }}{{ property.url }}">
        <path class="{{ propertyClass }}" d="m247.2 152.4 203.7-0.4838 1.935 195.5-123.9 1.452-2.903-32.9-79.83-0.4838z"/>
    </a>
    {% endif %}

{% endif %}
{% endfor %}
</svg>