---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="investment-content">
    {% include investment1.svg.html %}

    <hr class="divider">

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Typ</th>
        <th>Metraż</th>
        <th>Pow. działki</th>
        <th>Dostępność</th>
        <th>Cena</th>
        <th>Cena / ㎡</th>
      </tr>
      </thead>
      <tbody>
      {% for property in site.properties %}
      {% if property.investment == page.investment %}

      {% if property.availability == false %}
        {% assign propertyClass = "sold" %}
        {% assign propertyStatus = "Sprzedane" %}
      {% elsif property.reservation == true %}
        {% assign propertyClass = "reserved" %}
        {% assign propertyStatus = "Zarezerwowane" %}
      {% else %}
        {% assign propertyClass = "available" %}
        {% assign propertyStatus = "Dostępne" %}
      {% endif %}

      <tr data-href="{{ site.baseurl }}{{ property.url }}">
        <td data-label="#{{ property.property_number }}">{{ property.property_number }}</td>
        <td data-label="Typ">{{ property.type }}</td>
        <td data-label="Metraż">{{ property.square_meters }} ㎡</td>
        <td data-label="Pow. działki">{{ property.plot_square_meters }} ㎡</td>
        <td data-label="Dostępność">{% if propertyStatus != "" %}
          <span class="property-status {{ propertyClass }}">{{ propertyStatus }}</span>
          {% endif %}</td>
        <td data-label="Cena">{{ property.price }} zł</td>
        <td data-label="Cena / ㎡">{{ property.price | divided_by: property.plot_square_meters }} zł / ㎡</td>
        <td><a class="arrow" href="{{ site.baseurl }}{{ property.url }}">Zobacz</a></td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <hr style="margin: 30px; border: 0; border-top: 2px solid black;">

    <h2>Galeria inwestycji</h2>
    <div class="image-gallery">
      {% for image in page.images %}
      <div class="image-container">
        <img src="{{ site.baseurl }}{{ image }}" alt="Image of {{ page.title }}">
      </div>
      {% endfor %}
    </div>


    <h2>Lokalizacja</h2>
    <div class="call-map">
      <iframe src="{{ page.location }}" class="responsive-iframe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <h2>Opis inwestycji</h2>
    <p>
      {{ content }}
    </p>
  </div>

</article>
