---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="investment-content">

    <div class="svg-container">
      <h2>Nieruchomości</h2>
      <div class="row small-row-text">
        <span class="property-status available">Dostępne</span>
        <span class="property-status reserved">Zarezerwowane</span>
        <span class="property-status sold">Sprzedane</span>
      </div>

      {% if page.number == 1 %}
        {% include investment1.svg.html %}
      {% else if page.number == 2 %}
        {% include investment2.svg.html %}
      {% else if page.number == 3 %}
        {% include investment3.svg.html %}
      {% else if page.number == 4 %}
        {% include investment4.svg.html %}
      {% endif %}

    </div>

    <hr class="divider">

    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Typ</th>
        <th>Metraż</th>
        <th>Pow. działki</th>
        <th>Dostępność</th>
        <th>Cena</th>
        <th>Cena / ㎡</th>
      </tr>
      </thead>
      <tbody>
      {% for property in site.properties %}
      {% if property.investment_number == page.number %}

        {% if property.availability == false %}
          {% assign propertyClass = "sold" %}
          {% assign propertyStatus = "Sprzedane" %}
        {% elsif property.reservation == true %}
          {% assign propertyClass = "reserved" %}
          {% assign propertyStatus = "Zarezerwowane" %}
        {% else %}
          {% assign propertyClass = "available" %}
          {% assign propertyStatus = "Dostępne" %}
        {% endif %}

        <tr data-href="{{ site.baseurl }}{{ property.url }}">
        <td data-label="#{{ property.number }}">{{ property.number }}</td>
        <td data-label="Typ">{{ property.type }}</td>
        <td data-label="Metraż">{{ property.square_meters }}m<sup>2</sup></td>
        <td data-label="Pow. działki">{{ property.plot_square_meters }}m<sup>2</sup></td>
        <td data-label="Dostępność">{% if propertyStatus != "" %}
          <span class="property-status {{ propertyClass }}">{{ propertyStatus }}</span>
          {% endif %}</td>
        <td data-label="Cena">{{ property.price | money }}</td>
        <td data-label="Cena / ㎡">{{ property.price | divided_by: property.plot_square_meters | money }}/m<sup>2</sup></td>
        <td class="arrow"><a class="arrow" href="{{ site.baseurl }}{{ property.url }}">Zobacz</a></td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>

    <hr style="margin: 30px; border: 0; border-top: 2px solid black;">

    <h2>Galeria inwestycji</h2>
    {% include gallery.html %}

    <h2>Lokalizacja</h2>
    <div class="call-map">
      <iframe src="{{ page.location }}" class="responsive-iframe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <h2>Opis inwestycji</h2>
    <p>
      {{ content }}
    </p>
  </div>

</article>
