---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% if page.availability == false %}
    {% assign propertyClass = "sold" %}
    {% assign propertyStatus = "Sprzedane" %}
  {% elsif page.reservation == true %}
    {% assign propertyClass = "reserved" %}
    {% assign propertyStatus = "Zarezerwowane" %}
  {% else %}
    {% assign propertyClass = "available" %}
    {% assign propertyStatus = "Dostępne" %}
  {% endif %}

  <h1>
    {{ page.title }}
    {% if propertyStatus != "" %}
    <span class="property-status {{ propertyClass }}">{{ propertyStatus }}</span>
    {% endif %}
  </h1>
  <ul>
    <li>Typ: {{ page.type }}</li>
    <li>Metraż: {{ page.square_meters }}m<sup>2</sup></li>
    <li>Pow. działki: {{ page.plot_square_meters }}m<sup>2</sup></li>
    <li>Cena: {{ page.price | money }}</li>
    <li>Cena / m<sup>2</sup>: {{ page.price | divided_by: page.plot_square_meters | money }}/m<sup>2</sup></li>
  </ul>
  {% if propertyClass == "available" %}
  <a href="tel: {{ site.phone }}"><span class="property-status reserved">Zarezerwuj +48 {{ site.phone }}</span></a>
  {% endif %}

  <div>
    <h2>Karta mieszkania</h2>
    <div class="image-gallery">
      <a href="{{ site.baseurl }}{{ page.main_image }}" data-lightbox="mygallery">
        <img src="{{ site.baseurl }}{{ page.main_image }}" alt="Karta mieszkania">
      </a>
    </div>
  </div>

  <h2>Galeria nieruchomości</h2>
  {% include gallery.html %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
